
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-100;
}

.input {
  @apply w-full border p-2 rounded mt-3;
}
.btn {
  @apply w-full bg-blue-500 text-white p-2 rounded mt-4;
}
